<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=c:\Users\dheeraj\documents\visual studio 2012\WebSites\HDMovies\App_Data\Database.mdf;Integrated Security=True" providerName="System.Data.Sqlclient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="10"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime executionTimeout="240" maxRequestLength="50000000"/>
  <authentication mode="Forms">
    <forms loginUrl="Home.aspx" defaultUrl="Home.aspx"></forms>
  </authentication>
  </system.web>
</configuration>